{% extends 'basic_app/base.html' %}
{% block body_block %}
    <div class="jumbotron">
        <h1>{{ author_view.author }}</h1>
        {% for post in author_posts %}
             <h2>
            <a href="{% url 'basic_app:detail_post' post.pk %}" title="Tytuł" role="link" class="Title">{{ post.title }}</a>
        </h2>
        <span>{{ post.author }}</span>
        <img src="{% if post.image %}{{ post.image.url }}{% else %}{{ '#' }}{% endif %}" width="20"/>
        {% endfor %}
    </div>
{% endblock %}